html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}
body {
	font-family: 'Open Sans', serif;
	font-size: 16px;
	font-weight: 400;
	color: #666666;
}
.container {
	min-height: 100%;
	position: relative;
}
h2 { 
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #001871; 
}
h2 span {
	font-weight: 700;
}
h3 { 
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #001871; 
}
h4 {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.0rem;
}
table { width: 100%; }
table th, table td {
	width: 23%;
}
table thead tr th {
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
}
table thead tr th .sub-header {
	font-size: 1em;
	font-weight: 600;
	text-align: left;
}
table tbody tr td {
	text-align: center;
}
table tbody tr td.full-length {
	text-align: left;
}
td {
	position: relative;
}
.click-it:hover {
	box-shadow: 0 0 7px #000;
}
button.add-new {
	background: #f0f0f0;
	padding: 0 1em;
}
button.add-new:hover {
	opacity: 0.5;
}
.top-block {
	float: left;
	width: 100%;
	padding: 0.5em;
	background: #f0f0f0;
	border-radius: 3px;
}
.top-block .unit {
	width: 23%;
	padding: 0;
	margin-left: 1em;
	float: left;
}
.top-block:after, .unit:after {
	clear: both;
	content: "";
}

/* skelton over rides */

.column, .columns {
    margin-left: 1%;
}